html
  head
    meta(charset="UTF-8")
    title ev-talk
    style.
      html{
        font-size: 62.5%;
      }
      html, body {
        padding: 0;
        margin: 0;
        background-color: #00aadd;
        color: white;
      }
      #caption {
        padding: 0;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 4rem;
      }
      #skipper {
        position: absolute;
        bottom: 0.8rem;
        right: 0.8rem;
        font-size: 1.5rem;
        height: 2rem;
        line-height: 2rem;
        cursor: pointer;
        display: none;
      }
      #countdown {
        width: 2rem;
        height: 2rem;
        line-height:2rem;
        text-align: center;
        background-color: white;
        color: red;
        border-radius: 50%;
        display: inline-block;
        font-size: 1.5rem;
        font-weight:bold;
        margin-right: 1rem;
      }
      .shadow {
        text-align: center;
        /* 背景颜色线性渐变 */
        /* 老式写法 */
        /* linear为线性渐变，也可以用下面的那种写法。left top，right top指的是渐变方向，左上到右上 */
        /* color-stop函数，第一个表示渐变的位置，0为起点，0.5为中点，1为结束点；第二个表示该点的颜色。所以本次渐变为两边灰色，中间渐白色 */
        background: -webkit-gradient(linear, left top, right top,
        color-stop(0, white),
        color-stop(.125, whitesmoke),
        color-stop(.25, silver),
        color-stop(.375, whitesmoke),
        color-stop(.5, white),
        color-stop(.625, whitesmoke),
        color-stop(.75, silver),
        color-stop(.875, whitesmoke),
        color-stop(1, white));
        /* 新式写法 */
        /* background: -webkit-linear-gradient(left top, right top, color-stop(0, #4d4d4d), color-stop(.4, #4d4d4d), color-stop(.5, white), color-stop(.6, #4d4d4d), color-stop(1, #4d4d4d)); */

        /* 设置为text，意思是把文本内容之外的背景给裁剪掉 */
        -webkit-background-clip: text;
        /* 设置对象中的文字填充颜色 这里设置为透明 */
        -webkit-text-fill-color: transparent;
        /* 每隔2秒调用下面的CSS3动画 infinite属性为循环执行animate */
        -webkit-animation: animate 5s infinite;
      }
      /* 兼容写法，要放在@keyframes前面 */
      @-webkit-keyframes animate {
        /* 背景从-100px的水平位置，移动到+100px的水平位置。如果要移动Y轴的，设置第二个数值 */
        from {
          background-position: -100px;
        }
        to {
          background-position: 100px;
        }
      }
      @keyframes animate {
        from {
          background-position: -100px;
        }
        to {
          background-position: 100px;
        }
      }
  body
    #caption ev-talk引导页
    #skipper
      #countdown
      span.shadow 跳过>>
    script.
      if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')